<!--<sm-transition #transition>-->
<sm-card title="X "class="ui card" image="http://semantic-ui.com/images/avatar2/large/kristy.png">
  <!--<card-title> Kristy </card-title>
  <card-subtitle> Joined in 2013 </card-subtitle>
  <card-content>
    Kristy is an art director living in New York.
  </card-content>
  <card-extra>
    <a>
      <i class="user icon"></i> 22 Friends
    </a>
  </card-extra>-->
</sm-card>
<!--</sm-transition>

<sm-button (click)="transition.show('horizontal flip')">Horizontal Flip</sm-button>-->