<h1 Highlight>
    {{ title }}
</h1>
<!--<path-location></path-location>-->
<!--<p knowledge-myHighlight>Highlight me!</p>-->
<div class="ui pointing labeled icon menu inverted">
    <a [routerLink]="item.link" class="item" *ngFor="let item of menuItems">
        <i class="{{ item.icon }}"></i>
        {{ item?.title }}
    </a>
    <div class="right labeled icon menu secondary">
        <div class="item">
            <div class="ui transparent icon input">
                <i class="search link icon"></i>
                <input placeholder="Search..." type="text">
            </div>
        </div>
        <a class="item" (click)="storeSidebar.toggle()">
            <i class="suitcase huge icon"></i>
            Data Store
        </a>
        <a class="item" (click)="menuSidebar.toggle()">
            <i class="sidebar huge icon"></i>
            MenuX
        </a>
        <a class="item" routerLink="profile">
            <div class="ui mini image">
                <img src="{{user.profileImage}}">
            </div>
            {{ user.lastName }}
        </a>
    </div>
</div>

<sui-sidebar-container class="ui bottom attached segment ">
    <sui-sidebar class="inverted vertical labeled icon menu " #menuSidebar>
        <a class="item"><i class="home icon"></i>Home</a>
        <a class="item"><i class="block layout icon"></i>Topics</a>
        <a class="item"><i class="smile icon"></i> Friends </a>
    </sui-sidebar>
    <sui-sidebar class="inverted vertical" #storeSidebar>
        <a *ngFor="let item of storeMenuItems2" class="item" (click)=item.callback()>
            <i [class]="item.icon"></i> {{ item.title }}
        </a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <router-outlet></router-outlet>
    </sui-sidebar-sibling>
</sui-sidebar-container>

<!-- Zeile 27,28-->
<!--<a *ngFor="let item of storeMenuItems" class="item" [onBeforeAddingProcessor]=isValid storeMenuItemClickHandler [callBack2]="item.callback"
        [callBack]=saveFunction (myClick)="onClick($event)">
        <i [class]="item.icon"></i> {{item.title}}
    </a>-->