<h1 Highlight>
    {{title}}
</h1>
<p myHighlight>Highlight me!</p>
<sm-menu title="Knowledge" class="inverted">
    <a sm-item *ngFor="let item of menuItems" [icon]="item.icon" [routerLink]="item.link">{{item?.title}}</a>

    <sm-menu class="menu right secondary">
        <a Highlight sm-item routerLink="profile" [image]="user.profileImage">{{user.name}}</a>
        <a sm-item icon="suitcase big" (click)="storeSidebar.show({transition: 'overlay'})"></a>
        <a sm-item icon="sidebar big" (click)="menuSidebar.show({transition: 'overlay'})"></a>
    </sm-menu>
</sm-menu>

<sm-sidebar class="left vertical inverted sidebar labeled icon menu" #menuSidebar>
    <a class="item">
        <i class="home icon"></i> Home
    </a>
    <a class="item">
        <i class="block layout icon"></i> Topics
    </a>
    <a class="item">
        <i class="smile icon"></i> Friends
    </a>
</sm-sidebar>

<sm-sidebar class="left vertical inverted sidebar labeled icon menu" #storeSidebar>
    <!--<a *ngFor="let item of storeMenuItems" class="item" [onBeforeAddingProcessor]=isValid storeMenuItemClickHandler [callBack2]="item.callback"
        [callBack]=saveFunction (myClick)="onClick($event)">
        <i [class]="item.icon"></i> {{item.title}}
    </a>-->
    <a *ngFor="let item of storeMenuItems2" class="item" (click)=item.callback()>
        <i [class]="item.icon"></i> {{item.title}}
    </a>
</sm-sidebar>


<router-outlet></router-outlet>