<div class="ui violet card">
  <div class="image">
    <img src="http://semantic-ui.com/images/avatar/large/steve.jpg">
  </div>
  <div class="content">
    <a class="header">{{person.firstName}} {{person.lastName}}</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
      <a class="email">{{person.email}}</a>
    </div>
    <div class="description">
     {{person.firstName}} is born at {{person.birthDate}} and living at {{person.location}}.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i> 22 Friends
    </a>
  </div>
  <div class="extra">
    <div class="ui star rating" data-rating="4">
    </div>
  </div>

</div>
